<p id="notice"><%= notice %></p>

<h1>People</h1>

<div class="divTable paleBlueRows">
  <div class="divTableHeading">
    <div class="divTableRow">
      <div class="divTableHead">First Name</div>
      <div class="divTableHead">Last Name</div>
      <div class="divTableHead">Email</div>
      <div class="divTableHead">Phone</div>
      <div class="divTableHead">Actions</div>
    </div>
  </div>
  <div class="divTableBody">
    <% @people.each do |person| %>
      <%= content_tag :div, class: 'divTableRow', id: dom_id(person) do %>
        <%= render person %>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Person', new_person_path %>
